<form [formGroup]="_form" class="flex flex-col gap-4" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input matInput [formControl]="_form.controls.date" [matDatepicker]="picker" />
    <mat-hint>DD/MM/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>Merchant or Category</mat-label>
    <input
      formControlName="merchant"
      type="text"
      placeholder="Pick one"
      matInput
      [matAutocomplete]="merchant"
    />
    <mat-autocomplete #merchant="matAutocomplete" [displayWith]="getName">
      <mat-optgroup label="Merchants">
        @for (merchant of filteredMerchants$ | async; track merchant.target + merchant.id) {
          @if (merchant.target === 'merchant') {
            <mat-option [value]="merchant">{{ merchant.name }}</mat-option>
          }
        }
      </mat-optgroup>
      <mat-optgroup label="Categories">
        @for (merchant of filteredMerchants$ | async; track merchant.target + merchant.id) {
          @if (merchant.target === 'category') {
            <mat-option [value]="merchant">{{ merchant.name }}</mat-option>
          }
        }
      </mat-optgroup>
    </mat-autocomplete>
  </mat-form-field>

  <div>
    <mat-form-field floatLabel="always">
      <mat-label>Amount</mat-label>
      <input
        formControlName="amount"
        type="number"
        class="example-right-align"
        matInput
        placeholder="0"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Currency</mat-label>
      <mat-select formControlName="currency">
        @for (currency of currencies; track currency) {
          <mat-option [value]="currency">{{ currency }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  <mat-form-field class="w-full">
    <mat-label>Project</mat-label>
    <input
      formControlName="project"
      type="text"
      placeholder="Pick one"
      matInput
      [matAutocomplete]="project"
    />
    <mat-autocomplete #project="matAutocomplete" [displayWith]="getName">
      @for (project of projects$ | async; track project.id) {
        <mat-option [value]="project">{{ project.name }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>

  <squirrelli-edit-expense-allocations
    formControlName="allocations"
    [amount]="_form.controls.amount.value"
  ></squirrelli-edit-expense-allocations>

  <button matButton="filled" type="submit" [disabled]="loading">Add</button>
</form>
