{
  "/api": {
    "target": "https://api.preview.digitalleman.com/v5",
    "changeOrigin": true,
    "pathRewrite": {
      "^/api": ""
    },
    "headers": {
      "Authorization": "Bearer ***"
    }
  }
}
