<h1>{{ (assetId ? 'editAsset' : 'addAsset') | translate }}</h1>

<form [formGroup]="form" class="flex flex-col gap-4" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>{{ 'name' | translate }}</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{ 'category' | translate }}</mat-label>
    <mat-select formControlName="category">
      <mat-option [value]="null">{{ 'noCategory' | translate }}</mat-option>
      @for (category of categories$ | async; track category.documentId) {
        <mat-option [value]="category.documentId">{{ category.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{ 'liquidity' | translate }}</mat-label>
    <mat-select formControlName="liquidity">
      @for (liquidity of liquidities; track liquidity) {
        <mat-option [value]="liquidity">{{ liquidity }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <div class="flex gap-2">
    <button matButton="filled" type="submit" [disabled]="form.invalid || loading">
      {{ 'save' | translate }}
    </button>
    <a matButton routerLink="/assets">{{ 'cancel' | translate }}</a>
  </div>
</form>
